.subheader {
  position: relative;

  color: $white;

  &__background {
    height: 87px;

    background: $black;
    opacity: 0.6;

    @media (max-width: $width-small) {
      height: 60px;
    }
  }

  &__container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    @include flex(space-between);
    height: 87px;

    @media (max-width: $width-small) {
      height: 60px;
    }

    img {
      @media (max-width: $width-small) {
        width: 130px;
      }
    }
  }

  &__official {
    font-size: 13px;
    font-weight: 100;

    display: block;

    @media (max-width: $width-small) {
      display: none;
    }
  }

  &__phoneblock {
    margin-right: 20px;
    flex-grow: 1;
    text-align: right;

    &_desktope {
      @media (max-width: $width-medium) {
        display: none;
      }
    }

    &_mobile {
      display: none;
      @media (max-width: $width-medium) {
        margin-right: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      }
    }
  }

  &__call {
    font-size: 12px;
    font-weight: 100;
  }

  &__phone {
    font-size: 22px;

    display: block;
    margin-top: 5px;

    @media (max-width: $width-medium) {
      margin-bottom: 5px;
    }

    @media (max-width: $width-small) {
      font-size: 12px;
    }
  }

  &_button {
    @media (max-width: $width-medium) {
      display: none;
    }
  }
}
